    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Welcome to ThatChat
                <small class="pull-right">Last message:  Mon Jan 26 2015 - 18:39:23</small> 
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-9 ">
                        <app-message-list></app-message-list>
                        <app-message-input></app-message-input>
                    </div>
                    <div class="col-md-3">
                        <chat-user-list></chat-user-list>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                ThatChat
            </div>
        </div>
    </div>
