<div class="row spacing">
    <router-outlet></router-outlet>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chat view</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Miscellaneous</a>
            </li>
            <li class="active">
                <strong>Chat view</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox chat-view">

                <div class="ibox-title">
                    <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small> Chat room panel
                </div>

                <div class="ibox-content">
                    <div class="row">
                        <div class="tabs-container">

                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <i class="fa fa-laptop"></i>
                                    </tab-heading>
                                    <div class="col-md-9 ">
                                        <app-message-list></app-message-list>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="btn btn-primary btn-sm">New Chat</button>
                                        <button class="btn btn-primary btn-sm">Add</button>
                                        <chat-user-list></chat-user-list>
                                    </div>
                                </tab>

                            </tabset>

                        </div>
                    </div>

                    <app-message-input></app-message-input>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <!--</div>-->
    </div>