<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">ThatChat</h1>
        </div>
        <h3>Welcome to ThatChat</h3>
        <form class="m-t" [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
        </form>
    </div>
</div>